.header
  .header__left
    =link_to root_path do
      = image_tag 'header.png', height: '60', width: '80', class: 'image1'
      ZOO
  .header__right
    -if user_signed_in? 
      .header__right--left
        = link_to destroy_user_session_path,method: :delete do
          ログアウト
      .header__right--right
        = link_to user_path(current_user.id) do
          マイページ
    -else
      .header__right--left
        =link_to new_user_session_path do
          ログイン
      .header__right--right
        =link_to new_user_registration_path  do
          新規登録
.main
  .main__first
    .main__first--area
      = link_to areas_path do
        エリアから探す
    %ul
      .main__first--zoo
        = link_to "#" do
          動物一覧
          %li.dog
            = link_to dogs_path do
              Dog
          %li.cat
            = link_to cats_path do
              Cat
    .main__first--ivent
      = link_to "#" do
        イベント情報
    .main__first--view
      = link_to "#" do
        飼い主投稿一覧
  .main__second
    .main__second--name
      new animals
    .main__second--contents
      - @animal.each do |animal|
        .main__second--contents-content
          .main__second--contents-content-line
            = link_to animal_path(animal) do
              .second_image
                = image_tag animal.image1,height: '130px', width: '200px'
              .second_name
                名前：
                = animal.name
              .second_area
                場所：
                - facility = Facility.find_by(id: animal.facility_id)
                = facility.name
              .second_gender
                性別：
                -if animal.gender == '0'
                  男
                -else
                  女
  .main__third
    .main__third--name
      Dogs
    .main__third--contents
      - @dog.each do |dog|
        .main__third--contents-content
          .main__third--contents-content-line
            = link_to animal_path(dog) do
              .third_image
                = image_tag dog.image1,height: '130px', width: '200px'
              .third_name
                名前：
                = dog.name
              .third_area
                場所：
                - facility = Facility.find_by(id: dog.facility_id)
                = facility.name
              .third_gender
                性別：
                -if dog.gender == '0'
                  男
                -else
                  女
  .main__fourth
    .main__fourth--name
      Cats
    .main__fourth--contents
      - @cat.each do |cat|
        .main__fourth--contents-content
          .main__fourth--contents-content-line
            = link_to animal_path(cat) do
              .fourth_image
                = image_tag cat.image1,height: '130px', width: '200px'
              .fourth_name
                名前：
                = cat.name
              .fourth_area
                場所：
                - facility = Facility.find_by(id: cat.facility_id)
                = facility.name
              .fourth_gender
                性別：
                -if cat.gender == '0'
                  男
                -else
                  女
.mains
  .mains__fifth
    .mains__fifth--name
      Events
    .mains__fifth--contents
      -@event.each do |event|
        = link_to "#" do
          .mains__fifth--contents-content
            .fifth_image
              = image_tag event.image,height: '130px', width: '300px'
            .fifth_name
              イベント名：
              = event.name
            .fifth_area
              場所：
              = event.place
  .mains__sixth
    .mains__sixth--name
      Owner Posts
    .mains__sixth--contents
      .mains__sixth--contents-content
        .sixth_name
          題名：
          こんなに大きくなりました
        .sixth_image
          画像
      .mains__sixth--contents-content
        .sixth_name
          題名：
          こんなに大きくなりました
        .sixth_image
          画像
      .mains__sixth--contents-content
        .sixth_name
          題名：
          こんなに大きくなりました
        .sixth_image
          画像
=render 'shared/fotter'
 
