=render 'shared/header'
.reviewmain
  .reviewmain__first
    .reviewmain__first--name
      飼い主投稿一覧
    .reviewmain__first--contents
      - @review.each_slice(4) do |dog1,dog2,dog3,dog4|
        .reviewmains
          .reviewmains-content
            = link_to review_path(dog1) do
              .first_image
                = image_tag dog1.image.url,height: '130px', width: '200px'
              .first_name
                名前：
                = dog1.name
          -if dog2.present?
            .reviewmains-content
              = link_to review_path(dog2) do
                .first_image
                  = image_tag dog2.image.url,height: '130px', width: '200px'
                .first_name
                  名前：
                  = dog2.name
          -if dog3.present?
            .reviewmains-content
              = link_to review_path(dog3) do
                .first_image
                  = image_tag dog3.image.url,height: '130px', width: '200px'
                .first_name
                  名前：
                  = dog3.name
          -if dog4.present?
            .reviewmains-content
              = link_to review_path(dog4) do
                .first_image
                  = image_tag dog4.image.url,height: '130px', width: '200px'
                .first_name
                  名前：
                  = dog4.name

  .reviewmain__second
    = will_paginate @review, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'
=render 'shared/fotter'