.contact-main

  .contact-main__form
    応募申し込み
  = form_for [@animal, @contact] do |f|
    - if @contact.errors.any?
      - @contact.errors.full_messages.each do |message| 
        %p.messages
          = message

    .field
      = f.label :名前（フルネーム）
      = f.text_field :name,class: "contact_a-btn",placeholder: "例）田中太郎"
    .field
      = f.label :email
      = f.text_field :email,class: "contact_a-btn",placeholder: "PC : 携帯どちらでも可"
    .field
      = f.label :応募内容
      = f.text_area :content,class: "contact_a-btn_form",placeholder: "ご希望の連絡日を第三希望までご記入ください。その他ご不明な点につきましてもあわせてご記入ください。"
    .actions
      = f.submit '申し込む',class: "contact_save"
      %button{type: "button", onclick: "history.back()",class: "contact_back"} もどる
     
