=render 'shared/header'
.animals_main
  - if @animals.image1.present?
    .animals_main-image
      .main-image1-sub
        = image_tag @animals.image1,height: '90%', width: '90%'
        -if user_signed_in? 
          - if current_user.already_favorited?(@animals)
            = button_to '❤️',animal_favorite_path(@animals),method: :delete
          - else 
            = button_to '♡',animal_favorites_path(@animals)
        -else
      -if @animals.image2.present? && @animals.image3.present?
        .main-images-sub
          .main-images-sub2
            = image_tag @animals.image2,height: '130px', width: '200px'
          .main-images-sub3
            = image_tag @animals.image3,height: '130px', width: '200px'
      -elsif @animals.image2.present?
        .main-images-sub
          .main-images-sub2
            = image_tag @animals.image2,height: '130px', width: '200px'
      -else
    .animals_main-box
      .table
        %table
          %tr
            %th.name 名前
            %td 
              = @animals.name
          %tr
            %th.condition 性別
            %td 
              -if @animals.gender == '0'
                ♂
              -else
                ♀
          %tr
            %th.brand 種類
            %td 
              = @animals.type
          %tr
            %th.brand 歳
            %td 
              = @animals.age
          %tr
            %th.condition 施設名
            %td 
              = @animals.facility.name
          %tr
            %th.category 説明
            %td.category-list
              = @animals.text

    .animals_main-btn  
      .animals_main-btn__form
        .animals_main-btn__form__submit
          -if user_signed_in? 
            -if @animals.buyer_id.present?
              CLOSE
            -else
              = link_to "応募する", new_animal_contact_path(params[:id]), class: 'btn btn-default'
          -else
            = link_to "ログイン", new_user_session_path, class: 'btn btn-default'
        .animals_main-btn__form__submit
          %button{type: "button", onclick: "history.back()",class: 'animals_main-btn__form__submit__bottom-btn back'} もどる




=render 'shared/fotter'