=render 'shared/header'
.catmain
  .catmain__first
    .catmain__first--name
      cat一覧
    .catmain__first--contents
      - @cat.each_slice(4) do |cat1,cat2,cat3,cat4|
        .catmains
          .catmains-content
            = link_to animal_path(cat1) do
              .first_image
                = image_tag cat1.image1,height: '130px', width: '200px'
              .first_name
                名前：
                = cat1.name
              .first_area
                場所：
                - facility = Facility.find_by(id: cat1.facility_id)
                = facility.name
              .first_gender
                性別：
                -if cat1.gender == '0'
                  男
                -else
                  女
          -if cat2.present?
            .catmains-content
              = link_to animal_path(cat2) do
                .first_image
                  = image_tag cat2.image1,height: '130px', width: '200px'
                .first_name
                  名前：
                  = cat2.name
                .first_area
                  場所：
                  - facility = Facility.find_by(id: cat2.facility_id)
                  = facility.name
                .first_gender
                  性別：
                  -if cat2.gender == '0'
                    男
                  -else
                    女
          -if cat3.present?
            .catmains-content
              = link_to animal_path(cat3) do
                .first_image
                  = image_tag cat3.image1,height: '130px', width: '200px'
                .first_name
                  名前：
                  = cat3.name
                .first_area
                  場所：
                  - facility = Facility.find_by(id: cat3.facility_id)
                  = facility.name
                .first_gender
                  性別：
                  -if cat3.gender == '0'
                    男
                  -else
                    女
          -if cat4.present?
            .catmains-content
              = link_to animal_path(cat4) do
                .first_image
                  = image_tag cat4.image1,height: '130px', width: '200px'
                .first_name
                  名前：
                  = cat4.name
                .first_area
                  場所：
                  - facility = Facility.find_by(id: cat4.facility_id)
                  = facility.name
                .first_gender
                  性別：
                  -if cat4.gender == '0'
                    男
                  -else
                    女
  .catmain__second
    = will_paginate @cat, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'
=render 'shared/fotter'
