=render 'shared/header'
.wrapper
  .views
    = render 'shared/side_bar'
    .main_chat
      .main__second--contents
        - @animal.each do |animal|
          - if current_user.id == @animals.buyer_id
            .main__second--contents-content
              .main__second--contents-content-line
                = link_to new_review_path(animal) do
                  .second_image
                    = image_tag animal.image1,height: '130px', width: '200px'
                  .second_name
                    名前：
                    = animal.name
                  .second_area
                    場所：
                    - facility = Facility.find_by(id: animal.facility_id)
                    = facility.name
                  .second_gender
                    性別：
                    -if animal.gender == '0'
                      男
                    -else
                      女

=render 'shared/fotter'